vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|19 Mar 2012 18:02:18 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|Amila-PC\\Amila
vti_modifiedby:SR|Amila-PC\\Amila
vti_timecreated:TR|13 Mar 2012 17:16:26 -0000
vti_backlinkinfo:VX|Moodle/MyBar.html Moodle/MyBar1.html
vti_nexttolasttimemodified:TW|19 Mar 2012 17:51:27 -0000
vti_cacheddtm:TX|19 Mar 2012 18:02:18 -0000
vti_filesize:IR|4501
vti_cachedlinkinfo:VX|S|images/bg-barrasocial.png S|images/assignment.gif S|images/resource.png S|images/quiz.png S|images/upcoming.png S|images/cbg.gif
vti_cachedsvcrellinks:VX|FSUS|Moodle/css/images/bg-barrasocial.png FSUS|Moodle/css/images/assignment.gif FSUS|Moodle/css/images/resource.png FSUS|Moodle/css/images/quiz.png FSUS|Moodle/css/images/upcoming.png FSUS|Moodle/css/images/cbg.gif
